html,body {
  font-size: $font-base + px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  position: relative;
  @media (max-width: 991.98px) {
    font-size: 15px;
  }
  @media (max-width: 768px) {
    font-size: 15px;
  }
  @media (max-width: 575.98px) {
    font-size: 14.5px;
  }
  @media (max-width: 375px) {
    font-size: 14px;
  }
  @media (max-width: 320px) {
    font-size: 13px;
  }
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  p {
    margin: 0;
  }
  img{
    max-width: 100%;
    height: auto;
  }
}

#app {
  min-height: 100vh;
}

.container {
  max-width: gr(1024);
  margin: 0 auto;
  padding: gr(0) gr(15);
}

.section-page {
  h1 {
    font-size: gr(22);
    margin-top: gr(20);
    color: #071d65;
  }
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  thead {
    tr {
      padding: 5px 0;
      background: #283e99;
      color: #fff;
      th {
        font-size: gr(15);
        font-weight: 600;
        line-height: 30px;
        &:last-child {
          width: gr(320);
        }
        img {
          width: 11px;
          cursor: pointer;
        }
      }
    }
  }
  tbody {
    tr {
      transition: all linear 0.2s;
      td, th {
        font-size: gr(14);
        font-weight: 300;
        line-height: 30px;
        border-top: 2px solid #dee2e6;
        color: #283e99;
        a {
          color: #283e99;
        }
      }
      th {
        font-size: gr(15);
        padding-left: 5px;
        font-weight: 600;
      }
      &:nth-of-type(odd) {
        background-color: rgba(0,0,0,.05);
      }
      &:hover {
        background: #cbcbce;
      }
    }
  }
}