.header {
  background: #283e99;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: gr(20) 0;
    margin: 0;
    .item-nav {
      margin: 0 10px;
      a {
        font-size: gr(16);
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: #000;
        transition: all linear 0.3s;
        color: #fff;
        &:hover {
          color: #009cb4;
        }
      }
    }
  }
}