.list {
  margin-top: gr(30);
  .table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    thead {
      tr {
        padding: 5px 0;
        background: #283e99;
        color: #fff;
        th {
          font-size: gr(15);
          font-weight: 600;
          line-height: 30px;
        }
      }
    }
    tbody {
      tr {
        transition: all linear 0.2s;
        td, th {
          font-size: gr(14);
          font-weight: 300;
          line-height: 30px;
          border-top: 2px solid #dee2e6;
          color: #283e99;
          a {
            color: #283e99;
          }
        }
        th {
          font-size: gr(15);
          padding-left: 5px;
          font-weight: 600;
        }
        &:nth-of-type(odd) {
          background-color: rgba(0,0,0,.05);
        }
        &:hover {
          background: #cbcbce;
        }
      }
    }
  }
}